rps-automation/ANALYSE RPS.json
{
  "name": "ANALYSE RPS - Production",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyse les résultats RPS pour la campagne {{ $node[\"Webhook\"].json.body.campaign_name }}",
        "options": {
          "systemMessage": "=Tu es un Expert Senior en Psychologie du Travail pour LaRoche Consulting. Tu analyses les résultats du sondage RPS.\n\nMéthodologie :\n- \"Tout à fait d'accord\" / \"Plutôt d'accord\" (4-5) : Facteur de protection.\n- \"Ni d'accord, ni pas d'accord\" (3) : Neutre.\n- \"Plutôt pas d'accord\" / \"Pas du tout d'accord\" (1-2) : Alerte / Risque.\n\nConsignes :\n- AUCUN Markdown (#, *, **).\n- Ton professionnel et bienveillant.\n- Structure stricte ci-dessous.\n\nStructure :\n1. Charge de travail\n2. Organisation & Éthique\n3. Autonomie et Développement\n4. Reconnaissance & condition\n5. Relation et Soutien\n6. Demandes Émotionnelles & Valeurs\n7. Conséquence sur la santé et Équilibre\n8. Avis pour améliorer le bien être au travail (3 actions concrètes)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -336,
        -224
      ],
      "id": "29dacb79-0aa5-4a9b-ad93-f1ba807f248c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -352,
        -32
      ],
      "id": "03510aa2-4aee-424e-b5e0-53fc56e34588",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "Y0rfVxWOlowuCOem",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "rapport@laroche360.ca",
        "toEmail": "={{ $node[\"Webhook\"].json.body.user_email || 'admin@laroche.ca' }}",
        "subject": "=Rapport RPS : {{ $node[\"Webhook\"].json.body.campaign_name }}",
        "emailType": "text",
        "text": "=Bonjour,\n\nVeuillez trouver ci-joint le rapport d'analyse des risques psychosociaux pour la campagne : {{ $node[\"Webhook\"].json.body.campaign_name }}.\n\nCe document a été généré automatiquement et est confidentiel.\n\nCordialement,\nL'équipe LaRoche Consulting",
        "options": {
          "attachments": "=data"
        }
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        704,
        -224
      ],
      "id": "f7289293-58c3-4f0e-82b2-ea203c12a8cb",
      "name": "Send email (SendGrid)",
      "webhookId": "4b20b4ae-3672-4aab-b5f8-9012bede3e07",
      "credentials": {
        "sendGridApi": {
          "id": "SENDGRID_CREDENTIAL_ID",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1408,
        304
      ],
      "id": "225f390f-46d0-4faf-ab86-7051f8ef2bb3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1f15ABY4cIq5z-KQngmYPJZcu0-redCIgD4ofBLTxeig",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Fonction": "={{ $json.Fonction }}",
            " Nom et Prenom": "={{ $json[\"Nom et Prenom\"] }}",
            "Statut": "OK",
            "Date d'envoie": "={{ $now.format('yyyy-MM-dd') }}",
            "Employeur": "={{ $json.Employeur }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            { "id": "Employeur", "displayName": "Employeur", "type": "string" },
            { "id": "Email", "displayName": "Email", "type": "string" },
            { "id": " Nom et Prenom", "displayName": " Nom et Prenom", "type": "string" },
            { "id": "Fonction", "displayName": "Fonction", "type": "string" },
            { "id": "Statut", "displayName": "Statut", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -928,
        -224
      ],
      "id": "1ec0a897-b1eb-4219-95b3-4addf15a24f3",
      "name": "Liste des employés dans google sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4pk7H53CBEHznX1l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst toutesLesLignes = items[0].json.data;\nlet textePourIA = \"RÉSULTATS DU SONDAGE :\\n\\n\";\ntoutesLesLignes.forEach((ligne, index) => {\n  textePourIA += `--- EMPLOYÉ #${index + 1} ---\\n`;\n  for (const [colonne, reponse] of Object.entries(ligne)) {\n    textePourIA += `${colonne} : ${reponse}\\n`;\n  }\n  textePourIA += \"\\n\";\n});\nreturn { donnees_assemblees: textePourIA };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -224
      ],
      "id": "dff83ca2-7c16-444a-9c63-0d564024041c",
      "name": "Assemblage des réponses"
    },
    {
      "parameters": {
        "jsCode": "const text = items[0].json.output;\nfunction extract(titleRegex, nextTitleRegex, source) {\n  const startMatch = source.match(titleRegex);\n  if (!startMatch) return \"Section non trouvée\";\n  const startIndex = startMatch.index + startMatch[0].length;\n  const rest = source.substring(startIndex);\n  const endMatch = rest.match(nextTitleRegex);\n  return endMatch ? rest.substring(0, endMatch.index).trim() : rest.trim();\n}\nreturn {\n  introduction: extract(/Introduction|Charge de travail/i, /Organisation & Éthique/i, text),\n  tendances: extract(/Organisation & Éthique/i, /Autonomie/i, text),\n  alertes: extract(/Autonomie/i, /Reconnaissance/i, text),\n  recommandations: extract(/Reconnaissance/i, /Conclusion/i, text),\n  conclusion: extract(/Conclusion/i, /$/i, text)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -224
      ],
      "id": "ee99ddb9-af37-467b-a16a-5c6ca29d07ec",
      "name": "Néttoyage du rapport"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.introduction + \"\\n\\n\" + $json.tendances + \"\\n\\n\" + $json.alertes + \"\\n\\n\" + $json.recommandations + \"\\n\\n\" + $json.conclusion }}",
        "name": "=Rapport_RPS_{{ $node[\"Webhook\"].json.body.campaign_name }}_{{ $now.format('dd-MM-yyyy') }}.docx",
        "driveId": { "__rl": true, "mode": "list", "value": "My Drive" },
        "folderId": { "__rl": true, "mode": "list", "value": "root" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        -224
      ],
      "id": "48f82fc1-b0d0-43d7-8f8d-64b5ecfe8b8f",
      "name": "Enregistrement du rapport dans drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6DA5X6C0c9NRlrLH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": { "__rl": true, "value": "={{ $node[\"Enregistrement du rapport dans drive\"].json[\"id\"] }}", "mode": "id" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        -350
      ],
      "id": "12b8efbd-a913-4635-9fd5-3bbe232c8719",
      "name": "Téléchargement du fichier pour l'email",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6DA5X6C0c9NRlrLH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sondage-rps-solutions-tech",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        -224
      ],
      "id": "9dff756c-65f1-4bfe-b6e6-b8d218afa112",
      "name": "Webhook",
      "webhookId": "855fabc5-1fe4-4599-ad96-66f59cf32856"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -736,
        -224
      ],
      "id": "73d37a67-18c8-4289-b66a-c71e22cd7544",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const employees = items[0].json.body.body || [];\nreturn employees.map(emp => {\n  let formattedData = {\n    \"Employeur\": emp.Employeur,\n    \"Email\": emp.Email,\n    \"Nom et Prenom\": emp[\"Nom et Prenom\"],\n    \"Fonction\": emp.Fonction,\n    \"Statut\": \"OK\"\n  };\n  for (let i = 1; i <= 28; i++) formattedData[`Q${i}`] = emp[`Q${i}`] || null;\n  return { json: formattedData };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -224
      ],
      "id": "eb282352-9334-445d-929e-808fa83152f2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/reports",
        "sendBody": true,
        "contentType": "json",
        "bodyParametersUi": {
          "parameter": [
            { "name": "campaign_id", "value": "={{ $node['Webhook'].json.body.campaign_id }}" },
            { "name": "report_path", "value": "={{ $json.webViewLink || ('https://drive.google.com/file/d/' + $json.id + '/view') }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -224
      ],
      "id": "e18e7cf2-2a0a-4f27-b892-3f99d2f8a6a0",
      "name": "Enregistrer rapport dans backend"
    }
  ],
  "pinData": {},
  "connections": {
    "Mistral Cloud Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Néttoyage du rapport", "type": "main", "index": 0 }]] },
    "Liste des employés dans google sheet": { "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]] },
    "Assemblage des réponses": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "Néttoyage du rapport": { "main": [[{ "node": "Enregistrement du rapport dans drive", "type": "main", "index": 0 }]] },
    "Enregistrement du rapport dans drive": { "main": [[{ "node": "Enregistrer rapport dans backend", "type": "main", "index": 0 }]] },
    "Téléchargement du fichier pour l'email": { "main": [[{ "node": "Send email (SendGrid)", "type": "main", "index": 0 }]] },
    "Enregistrer rapport dans backend": { "main": [[{ "node": "Téléchargement du fichier pour l'email", "type": "main", "index": 0 }]] },
    "Webhook": { "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]] },
    "Aggregate": { "main": [[{ "node": "Assemblage des réponses", "type": "main", "index": 0 }]] },
    "Code in JavaScript": { "main": [[{ "node": "Liste des employés dans google sheet", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "2797e3db-2816-46ad-9d00-6aa894f132bd",
  "id": "h2wX9HQ8teo_MAcikY6Y5",
  "tags": []
}
