rps-automation/ANALYSE RPS.json
{
  "name": "RPS ANALYSE",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyse les résultats RPS  ",
        "options": {
          "systemMessage": "=Tu es un Expert Senior en Psychologie du Travail. Tu analyses les résultats du sondage RPS de \n\nMéthodologie d'analyse :\nLes employés ont répondu avec l'échelle suivante. Tu dois les interpréter ainsi :\n\n    \"Tout à fait d'accord\" ou \"Plutôt d'accord\" : Score 4-5 (Facteur de protection / Satisfaction).\n\n    \"Ni d'accord, ni pas d'accord\" : Score 3 (Zone neutre).\n\n    \"Plutôt pas d'accord\" ou \"Pas du tout d'accord\" : Score 1-2 (Alerte / Risque psychosocial).\n\nNote : Analyse l'ensemble des réponses pour dégager des moyennes et des tendances de groupe, peu importe le nombre de répondants.\n\nConsignes de formatage :\n\n    AUCUN formatage Markdown (pas de #, pas de *, pas de **).\n\n    Utilise uniquement les titres de sections ci-dessous.\n\n\nStructure du Rapport :\n\nCharge de travail\n(Analyse la quantité, le rythme et la complexité perçue).\n\nOrganisation & Étique\n(Analyse la clarté des rôles et le respect des valeurs).\n\nAutonomie et Développement\n(Analyse la liberté de décision et l'utilisation des compétences).\n\nReconnaissance & condition\n(Analyse le sentiment de justice et la valorisation du travail).\n\nRelation et Soutien\n(Analyse l'ambiance d'équipe et le soutien managérial).\n\nDemandes Émotionnelles & Valeurs\n(Analyse la charge mentale liée au public et les conflits d'éthique).\n\nConséquence sur la santé et Équilibre\n(Analyse l'impact sur le bien-être et la vie personnelle).\n\nAvis pour améliorer le bien être au travail\n(Propose 3 actions concrètes et adaptées à Solutions Tech Québec)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1776,
        224
      ],
      "id": "f3dc110b-9da9-4f26-a254-c684c39ac145",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1680,
        400
      ],
      "id": "c88d84dc-d8de-4015-b88b-7f340a8ab5f0",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "6oFuUAjBN260OMyQ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "abondelire@gmail.com",
        "toEmail": "abondelire@gmail.com",
        "subject": "=Rapport d'analyse RPS - {{ $now.format('') }}",
        "emailFormat": "text",
        "text": "=Bonjour, vous trouverez ci-joint l'analyse des risques psychosociaux pour votre entreprise  . Le rapport complet a également été déposé sur le Drive\n ",
        "options": {
          "attachments": "=data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2752,
        224
      ],
      "id": "b9c718c2-9c35-4111-af78-0d2d6e2a8cc1",
      "name": "Send email",
      "webhookId": "4b20b4ae-3672-4aab-b5f8-9012bede3e07",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "smtp": {
          "id": "1iAknQgwFYW3gbuV",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        736
      ],
      "id": "a5880b21-ec5e-4dd1-a3ee-412a62ad1418",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1f15ABY4cIq5z-KQngmYPJZcu0-redCIgD4ofBLTxeig",
          "mode": "list",
          "cachedResultName": "Suivi Campagne RPS.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f15ABY4cIq5z-KQngmYPJZcu0-redCIgD4ofBLTxeig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f15ABY4cIq5z-KQngmYPJZcu0-redCIgD4ofBLTxeig/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Fonction": "={{ $json.Fonction }}",
            " Nom et Prenom": "={{ $json[\"Nom et Prenom\"] }}",
            "Statut": "OK",
            "Date d'envoie": "={{ $now.format('yyyy-MM-dd') }}",
            "Employeur": "={{ $json.Employeur }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Employeur",
              "displayName": "Employeur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Nom et Prenom",
              "displayName": " Nom et Prenom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fonction",
              "displayName": "Fonction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date d'envoie",
              "displayName": "Date d'envoie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        720
      ],
      "id": "98e72eee-3207-4e36-a2f2-f4330b1f8b12",
      "name": "Liste des employés dans google sheet"
    },
    {
      "parameters": {
        "jsCode": "// On récupère la liste créée par le nœud Aggregate\nconst items = $input.all();\nconst toutesLesLignes = items[0].json.data; \n\nlet textePourIA = \"RÉSULTATS DU SONDAGE :\\n\\n\";\n\ntoutesLesLignes.forEach((ligne, index) => {\n  textePourIA += `--- RÉPONSES EMPLOYÉ #${index + 1} ---\\n`;\n  for (const [colonne, reponse] of Object.entries(ligne)) {\n    // On ajoute chaque question et sa réponse au texte\n    textePourIA += `${colonne} : ${reponse}\\n`;\n  }\n  textePourIA += \"\\n\";\n});\n\nreturn {\n  donnees_assemblees: textePourIA\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        224
      ],
      "id": "6c03b241-64d7-4d17-87f3-f4f8e1fe7dda",
      "name": "Assemblage des réponses"
    },
    {
      "parameters": {
        "jsCode": "const text = items[0].json.output;\n\n// Fonction robuste pour extraire entre deux titres ou jusqu'à la fin\nfunction extract(titleRegex, nextTitleRegex, source) {\n  const startMatch = source.match(titleRegex);\n  if (!startMatch) return \"Section non trouvée\";\n  \n  const startIndex = startMatch.index + startMatch[0].length;\n  const rest = source.substring(startIndex);\n  \n  const endMatch = rest.match(nextTitleRegex);\n  const content = endMatch ? rest.substring(0, endMatch.index) : rest;\n  \n  return content.trim();\n}\n\n// On définit les Regex pour chaque section (insensible à la casse avec 'i')\nconst reIntro = /Introduction|Charge de travail/i;\nconst reTendances = /Tendances Générales|Organisation & Éthique/i;\nconst reAlertes = /Alertes Critiques|Autonomie et Développement/i;\nconst reRecom = /Recommandations Prioritaires|Reconnaissance/i;\nconst reConclusion = /Conclusion/i;\n\nreturn {\n  introduction: extract(reIntro, /Organisation & Éthique|Tendances/i, text),\n  tendances: extract(reTendances, /Autonomie|Alertes/i, text),\n  alertes: extract(reAlertes, /Reconnaissance|Recommandations/i, text),\n  recommandations: extract(reRecom, /Conclusion/i, text),\n  conclusion: extract(reConclusion, /$^/i, text), // $^ pour aller jusqu'à la fin\n  full_text_clean: text.trim()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        224
      ],
      "id": "cfc120aa-e804-4ddf-98b9-df326b328672",
      "name": "Néttoyage du rapport"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.introduction + \"\\n\\n\" + $json.tendances + \"\\n\\n\" + $json.alertes + \"\\n\\n\" + $json.recommandations + \"\\n\\n\" + $json.conclusion }}",
        "name": "=Rapport_Synthese_Global_RPS_{{ $now.format('dd-MM-yyyy') }}.docx",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2352,
        720
      ],
      "id": "a7374095-591b-450c-9f18-c439d4649a3d",
      "name": "Enregistrement du rapport dans drive"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Enregistrement du rapport dans drive\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2576,
        720
      ],
      "id": "b2ceb5fa-633d-4b7c-a911-a8ca8049a93e",
      "name": "Téléchargement du fichier pour l'email"
    },
    {
      "parameters": {
        "fromEmail": "anaiarandria@gmail.com",
        "toEmail": "={{ $json.Email }}",
        "subject": "Rappel : Ton avis est précieux pour l'équipe",
        "html": "=Bonjour {{ $json[\"Nom et Prenom\"] }},\n\nNous vous contactons car votre diagnostic sur les Risques Psychosociaux (RPS) est toujours en attente de finalisation.\n\nVotre participation est essentielle pour garantir une analyse de qualité et améliorer les conditions de travail au sein de votre organisation. Ce questionnaire est rapide et vos réponses restent confidentielles.\n\nNous vous remercions par avance pour votre contribution.\n\nCordialement,\nL'équipe Solutions Tech",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        944,
        736
      ],
      "id": "af8df8a2-e8c1-42de-b505-bd334fca602e",
      "name": "Send email1",
      "webhookId": "da2ab9a4-f885-4c49-b036-02b67454bbe1",
      "credentials": {
        "smtp": {
          "id": "1iAknQgwFYW3gbuV",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31c0c48b-099e-49be-b4b4-dc9f45afe4dd",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        688,
        736
      ],
      "id": "6fc7e1b5-2170-4a9f-a8aa-a17df0b3604a",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "ANALYSE DES RÉPONSES / RAPPORT SUR DRIVE ET EMAIL\n",
        "height": 592,
        "width": 3264
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -48
      ],
      "id": "05cbcff8-3076-426f-a3be-a88740054685",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "RELANCE \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 416,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        608
      ],
      "id": "689636bf-28bc-4b64-b122-f22b2380939c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1072,
        224
      ],
      "id": "91343b95-c2a7-4b54-979a-cf685a87cd8d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const employees = items[0].json.body.body; \n\nreturn employees.map(emp => {\n  let formattedData = {\n    \"Employeur\": emp.Employeur, // Plus d'apostrophe ici !\n    \"Email\": emp.Email,\n    \"Nom et Prenom\": emp[\"Nom et Prenom\"],\n    \"Fonction\": emp.Fonction,\n    \"Statut\": \"OK\",\n    \"Date d'envoi\": new Date().toLocaleDateString('fr-FR')\n  };\n\n  for (let i = 1; i <= 28; i++) {\n    const key = `Q${i}`;\n    formattedData[key] = emp[key] || null;\n  }\n\n  return { json: formattedData };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        224
      ],
      "id": "aa38c5dd-27aa-4b02-b433-184ff1b76be9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1f15ABY4cIq5z-KQngmYPJZcu0-redCIgD4ofBLTxeig",
          "mode": "list",
          "cachedResultName": "Suivi Campagne RPS.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f15ABY4cIq5z-KQngmYPJZcu0-redCIgD4ofBLTxeig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f15ABY4cIq5z-KQngmYPJZcu0-redCIgD4ofBLTxeig/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        720
      ],
      "id": "e666717a-d760-4685-9614-0ce4393e6918",
      "name": "Get row(s) in sheet1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "http://104.254.182.46:8786/api/employees",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "Statut",
              "value": "OK"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        352
      ],
      "id": "8c20f54a-0f54-46f0-9038-cb023c7d49ca",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        784,
        224
      ],
      "id": "bdc53bd4-02e5-4e82-b964-99dcb48a6733",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "http://104.254.182.46:8786/api/employees",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        736
      ],
      "id": "1f65586d-2dc8-42c3-8a1a-b344bcd12bff",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2464,
        224
      ],
      "id": "179bd214-a9a1-46dc-9023-56eec1bad588",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "anaiarandria62@gmail.com",
        "fromName": "Laroche",
        "toEmail": "anaiarandrianantenaina@gmail.com",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        2848,
        720
      ],
      "id": "218b3d1a-2df6-4b8e-a0d0-921ec99bee0d",
      "name": "Send an email",
      "credentials": {
        "sendGridApi": {
          "id": "TkqvQB9kfXmlEy9W",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ee663c0b-3508-41e7-98e5-5501d85f4979",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        208
      ],
      "id": "3dde99c5-31e5-4e8d-a5c2-bf8f7e65b363",
      "name": "Webhook",
      "webhookId": "ee663c0b-3508-41e7-98e5-5501d85f4979"
    },
    {
      "parameters": {
        "height": 336,
        "width": 1408
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1632,
        672
      ],
      "id": "e6ed78fb-f60a-4be0-813a-c2bdf11d2fbd",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Néttoyage du rapport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liste des employés dans google sheet": {
      "main": [
        []
      ]
    },
    "Assemblage des réponses": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Néttoyage du rapport": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enregistrement du rapport dans drive": {
      "main": [
        [
          {
            "node": "Téléchargement du fichier pour l'email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Téléchargement du fichier pour l'email": {
      "main": [
        []
      ]
    },
    "Send email1": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Assemblage des réponses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ab82316e-50e4-4bc1-82f9-bd5d8bbfbf0e",
  "meta": {
    "instanceId": "cac5ec5e2c6d46143700919509af35b019553a77230a6aee31f315409349fd75"
  },
  "id": "hhCSIR3C1W7XSaCZ",
  "tags": []
}