rps-automation/NEW WORKFLOW RSP.json
{
  "name": "NEW WORKFLOW RSP",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Les données viennent déjà formatées du nœud simulation\nconst input = $input.first().json;\n\nreturn [{\n  json: {\n    campaignInfo: input.campaignInfo,\n    openAnswers: input.openAnswers,\n    formattedForAI: input.formattedForAI\n  }\n}];"
      },
      "id": "b22a0b72-b8f9-48d7-8487-35dac5d7691f",
      "name": "Formater les données",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        112
      ],
      "notes": "Nettoie et formate les réponses ouvertes pour l'analyse IA. Adapter les noms de champs selon votre API."
    },
    {
      "parameters": {
        "jsCode": "// Construire le rapport final formaté\nconst analysis = $input.first().json.output || $input.first().json.text || $input.first().json.response || Object.values($input.first().json)[0];const campaignInfo = $('Formater les données').first().json.campaignInfo;\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('fr-CA', { year: 'numeric', month: 'long', day: 'numeric' });\n\nconst rapport = `\n=================================================\nRAPPORT D'ANALYSE RPS\n=================================================\nEntreprise    : ${campaignInfo.entreprise}\nCampagne      : ${campaignInfo.campagne}\nDate d'analyse: ${dateStr}\nRépondants    : ${campaignInfo.total_repondants}\n=================================================\n\n${analysis}\n\n=================================================\nRapport généré automatiquement par la plateforme RPS\nConfidentiel - Usage interne uniquement\n=================================================\n`.trim();\n\nreturn [{\n  json: {\n    rapport,\n    campaignInfo,\n    subject: `Rapport RPS -  - ${campaignInfo.campagne}`,\n    filename: `Rapport_RPS.replace(/\\s+/g, '_')}_${now.toISOString().split('T')[0]}.txt`\n  }\n}];"
      },
      "id": "8de640ff-9760-4ce9-826e-a5ebc5ae8cbd",
      "name": "Construire le rapport",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        112
      ],
      "notes": "Formate le rapport final avec en-tête et pied de page."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyse les résultats RPS  ",
        "options": {
          "systemMessage": "=Tu es un Expert Senior en Psychologie du Travail. Tu analyses les résultats du sondage RPS de \n\nMéthodologie d'analyse :\nLes employés ont répondu avec l'échelle suivante. Tu dois les interpréter ainsi :\n\n    \"Tout à fait d'accord\" ou \"Plutôt d'accord\" : Score 4-5 (Facteur de protection / Satisfaction).\n\n    \"Ni d'accord, ni pas d'accord\" : Score 3 (Zone neutre).\n\n    \"Plutôt pas d'accord\" ou \"Pas du tout d'accord\" : Score 1-2 (Alerte / Risque psychosocial).\n\nNote : Analyse l'ensemble des réponses pour dégager des moyennes et des tendances de groupe, peu importe le nombre de répondants.\n\nConsignes de formatage :\n\n    AUCUN formatage Markdown (pas de #, pas de *, pas de **).\n\n    Utilise uniquement les titres de sections ci-dessous.\n\n\nStructure du Rapport :\n\nCharge de travail\n(Analyse la quantité, le rythme et la complexité perçue).\n\nOrganisation & Étique\n(Analyse la clarté des rôles et le respect des valeurs).\n\nAutonomie et Développement\n(Analyse la liberté de décision et l'utilisation des compétences).\n\nReconnaissance & condition\n(Analyse le sentiment de justice et la valorisation du travail).\n\nRelation et Soutien\n(Analyse l'ambiance d'équipe et le soutien managérial).\n\nDemandes Émotionnelles & Valeurs\n(Analyse la charge mentale liée au public et les conflits d'éthique).\n\nConséquence sur la santé et Équilibre\n(Analyse l'impact sur le bien-être et la vie personnelle).\n\nAvis pour améliorer le bien être au travail\n(Propose 3 actions concrètes et adaptées à Solutions Tech Québec)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -336,
        112
      ],
      "id": "8d6501d3-aa5d-4d7d-b239-48d54cd2edb4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -480,
        240
      ],
      "id": "e9605e0c-5dae-42a8-98d7-04db7bcf23f6",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "Y0rfVxWOlowuCOem",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.rapport }}",
        "name": "=Rapport_Synthese_Global_RPS_{{ $now.format('dd-MM-yyyy') }}.docx",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        304,
        112
      ],
      "id": "610baf99-762f-4aa8-8fb2-efaf58a83f8b",
      "name": "Enregistrement du rapport dans drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6DA5X6C0c9NRlrLH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $node[\"Enregistrement du rapport dans drive\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        112
      ],
      "id": "bc59befb-41b2-4826-b126-b76484b382d6",
      "name": "Téléchargement du fichier pour l'email",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6DA5X6C0c9NRlrLH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a2f2e2f9-6324-4b5c-b9d9-4614cc51cbf5",
      "name": "Déclencheur",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1312,
        528
      ],
      "notes": "Se déclenche chaque matin à 8h pour vérifier les non-répondants"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter_statut",
              "leftValue": "={{ $json.statut }}",
              "rightValue": "non_complete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20368852-4422-47f3-9d51-6559735c29ce",
      "name": "Filtrer non complétés",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -640,
        528
      ],
      "notes": "Garde uniquement les employés avec statut == non_complete"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const employe = item.json;\n  const dateEnvoi = new Date(employe.date_envoi);\n  const aujourdhui = new Date();\n  const diffJours = Math.floor((aujourdhui - dateEnvoi) / (1000 * 60 * 60 * 24));\n\n  if (diffJours >= 6) {\n    result.push({\n      json: {\n        ...employe,\n        jours_depuis_envoi: diffJours,\n        eligible_relance: true\n      }\n    });\n  }\n}\n\nreturn result;"
      },
      "id": "679d5bc3-5ed1-4aeb-90df-1e3e5f593bcc",
      "name": "Calculer 6 jours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        528
      ],
      "executeOnce": false,
      "alwaysOutputData": false,
      "notes": "Calcule si l'envoi initial date de 6 jours ou plus. Si non, l'employé est ignoré."
    },
    {
      "parameters": {
        "jsCode": "const employe = $input.first().json;\nconsole.log(`✅ Relance envoyée à ${employe.nom} (${employe.email}) — ${employe.jours_depuis_envoi} jours depuis l'envoi`);\n\nreturn [{\n  json: {\n    status: 'relance_envoyee',\n    nom: employe.nom,\n    email: employe.email,\n    jours_depuis_envoi: employe.jours_depuis_envoi,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "703ff7fb-1652-40d4-a0d3-93aafb12e58d",
      "name": "Log relance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        528
      ],
      "notes": "Log de confirmation par employé relancé"
    },
    {
      "parameters": {
        "jsCode": "// Log de confirmation\nconst info = $('Construire le rapport').first().json.campaignInfo;\nconsole.log(`✅ Rapport RPS généré et envoyé pour ${info.entreprise} - ${info.campagne}`);\nreturn [{ json: { status: 'success', message: `Rapport envoyé pour ${info.entreprise}`, timestamp: new Date().toISOString() } }];"
      },
      "id": "ace42c15-b7f9-48e7-9404-a053052339bc",
      "name": " Log succès",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        112
      ],
      "notes": "Log de confirmation — peut être remplacé par une notification Slack ou autre."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a4a937ee-ce22-475a-b226-b7ff55c56e10",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1312,
        112
      ],
      "id": "f628ea0d-0389-4a5f-94bc-d2e3c98a229e",
      "name": "Webhook",
      "webhookId": "a4a937ee-ce22-475a-b226-b7ff55c56e10"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1f15ABY4cIq5z-KQngmYPJZcu0-redCIgD4ofBLTxeig",
          "mode": "list",
          "cachedResultName": "Suivi Campagne RPS.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f15ABY4cIq5z-KQngmYPJZcu0-redCIgD4ofBLTxeig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f15ABY4cIq5z-KQngmYPJZcu0-redCIgD4ofBLTxeig/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Entreprise": "={{ $json.entreprise }}",
            "Nom": "={{ $json.nom }}",
            "Prenom": "={{ $json.prenom }}",
            "Email": "={{ $json.email }}",
            "Poste": "={{ $json.poste }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Entreprise",
              "displayName": "Entreprise",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prenom",
              "displayName": "Prenom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Poste",
              "displayName": "Poste",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -656,
        -96
      ],
      "id": "bb198a56-847c-46bd-9795-f36082b08243",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4pk7H53CBEHznX1l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "openAnswers",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -928,
        -96
      ],
      "id": "1a9e8f6a-8f15-4340-a58e-dfb15f2a07a4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "ANALYSE\n",
        "height": 640,
        "width": 2656
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        -240
      ],
      "id": "db442563-739f-4c49-ac86-fbf69cee9168",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "RELANCE\n",
        "height": 304,
        "width": 1808
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1408,
        432
      ],
      "id": "c55c6d2b-a22a-47b0-b39c-26a421b7d377",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "anaiarandria62@gmail.com",
        "toEmail": "={{ $('Webhook').first().json.body?.body?.client_email || $('Webhook').first().json.body?.client_email || $('Webhook').first().json.user_email || $('Webhook').first().json.body?.user_email }}",
        "subject": "=Rapport d'analyse RPS - {{ $now.format('') }}",
        "contentValue": "Bonjour, vous trouverez ci-joint l'analyse des risques psychosociaux pour votre entreprise  . Le rapport complet a également été déposé sur le Drive  ",
        "additionalFields": {
          "attachments": ""
        }
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        768,
        112
      ],
      "id": "20c0718f-b00a-48e3-861d-b7fbb9adbb62",
      "name": "Send an email",
      "credentials": {
        "sendGridApi": {
          "id": "TKoPbDKPYJMzYnFw",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "anaiarandria62@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=Rappel : Votre participation au sondage RPS est attendue",
        "contentValue": "Bonjour {{ $json.nom }}  Nous vous contactons car votre diagnostic sur les Risques Psychosociaux (RPS) est toujours en attente de finalisation.  Votre participation est essentielle pour garantir une analyse de qualité et améliorer les conditions de travail au sein de votre organisation. Ce questionnaire est rapide et vos réponses restent confidentielles.  Nous vous remercions par avance pour votre contribution.  Cordialement, L'équipe Solutions Tech",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        -96,
        528
      ],
      "id": "1fd9e745-11c9-48d8-9214-a83a233a98a3",
      "name": "Send an email1",
      "credentials": {
        "sendGridApi": {
          "id": "TKoPbDKPYJMzYnFw",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.config.app_base_url }}/campagne/{{ $json.campaign_id }}/reponses",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1040,
        112
      ],
      "id": "b6cd326d-05ce-49b1-8445-c07c4acaf427",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.config.app_base_url }}/campagne/{{ $json.campaign_id }}/employes",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -992,
        528
      ],
      "id": "d3cb741b-f166-4065-bee6-b65cb09586e7",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Formater les données": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire le rapport": {
      "main": [
        [
          {
            "node": "Enregistrement du rapport dans drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Construire le rapport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enregistrement du rapport dans drive": {
      "main": [
        [
          {
            "node": "Téléchargement du fichier pour l'email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Téléchargement du fichier pour l'email": {
      "main": [
        [
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déclencheur": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer non complétés": {
      "main": [
        [
          {
            "node": "Calculer 6 jours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculer 6 jours": {
      "main": [
        [
          {
            "node": "Send an email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email": {
      "main": [
        [
          {
            "node": " Log succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email1": {
      "main": [
        [
          {
            "node": "Log relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Formater les données",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Filtrer non complétés",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3fb81d24-caad-4daf-aa97-0ba88521cbb7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e13e6ceb71ea035352efd36881a07478385b706e1a6ef8688b92d999ba345118"
  },
  "id": "_SkWPCcTKtNjNGCoqh0IP",
  "tags": []
}
